---
import Layout from '../layouts/default.astro'
---
<Layout title="Home">
  <div>
    <h1>
      Images Lazy Loading Benchmark
    </h1>

    <p>Chances that your page don't need images lazyloading are close to zero.</p>
    <p>This benchmark was created to pick the best option for implementing lazy loaded images, with the goal of handling pages with big number of DOM nodes.</p>

    <p>Lozad.js is not on this list, becuase I couldn't force it to work with Astro.</p>
  </div>
</Layout>
